{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header">
        <!--<img src="https://icespomig.blob.core.windows.net/public/icepass/404.png" alt="Error 404" /><br />-->
        <h1>Oops! Looks like the password doesn't exist anymore or never existed in the first place.</h1>
    </div>
    <a href="/"><p>Click Here</a> to return to the Home Page</p> 
    <p><strong>If you're having issues using this tool please contact Fios Genomics</strong></p>
  </section>
</div>
{% endblock %}

{% block js %}
<script src="{{ config.STATIC_URL }}/clipboardjs/clipboard.min.js"></script>
<script src="{{ config.STATIC_URL }}/snappass/scripts/clipboard_button.js"></script>
<script src="{{ config.STATIC_URL }}/snappass/scripts/preview.js"></script>
{% endblock %}