{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header">
      <h2>Fios Genomics Secure Password Service</h2>
    </div>
    <p class="lead">Note that this link provides secure access to a password. The link only works once and will be permanently deleted after first use, or automatically after 72 hours if not used. </p>
    <div class="row">
      <div class="col-sm-6 margin-bottom-10">
        <button id="revealSecret" type="button" class="btn-lg btn-primary">Reveal password</button>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block js %}
<script src="{{ config.STATIC_URL }}/clipboardjs/clipboard.min.js"></script>
<script src="{{ config.STATIC_URL }}/snappass/scripts/clipboard_button.js"></script>
<script src="{{ config.STATIC_URL }}/snappass/scripts/preview.js"></script>
{% endblock %}