{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header"><h2>Share a Password</h2></div>
    <div class="row">
        <form role="form" id="password_create" method="post" autocomplete="off">
            <div class="col-sm-8 margin-bottom-10">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                    <textarea rows="10" cols="50" id="password" name="password" autofocus="true" class="form-control" placeholder="Input a single or multi-line secret and click Generate Secure Link to securely share the secret. The link only works once and will be permanently deleted after first use, or automatically after 72 hours if not used. Share the one-time use URL with your intended recipient." aria-describedby="basic-addon1" autocomplete="off" required></textarea>
                </div>
            </div>

            <div class="col-sm">
                <button type="submit" class="btn btn-primary btn-lg" id="submit">Generate Secure Link</button>
            </div>
        </form>
    </div>
  </section>
</div>
{% endblock %}

{% block js %}
{% endblock %}
